/* CSS för Om oss-sidan */

#Titel{
	font-family: "PT sans", Arial, sans-serif;
	text-align: center;
}

p{
	font-family: Georgia, serif;
}

#Sup{
	color: #0055DE;
	text-align: center;
}

#Sup:active{
	color: red;
}

.container{
	position:relative;
	width: 70%;
	margin: 0px auto 0px auto; /* top right bottom left */
	border: 0px white solid; /* border-width border-color border-style*/
	top: 100px;
	z-index: -1;
}