/* CSS för första-sidan */

section#frontpage{
 width: 1000px;
 margin: auto;
 height: 450px;
}

#frontpage h1{
 margin: 0px;
 font-family: 'PT sans', Arial,sans-serif;
}

div#shopItems{
 display: inline-block;
 height: 450px;
 width: 350px;
 position: relative;
 bottom: 50px;
 left: 8px;
}

#frontpageHeader{
 width: auto;
 margin: 20px 0px 0px 0px;
 font-family: 'PT sans', Arial,sans-serif; 
}