.showProducts{
	display:none;
}
.showProducts:target{
	display:block;
}

.itemContainer{
	float:left;
	background-color:#6E6E6E;
	height:200px;
	width:350px;
	margin:10px 0px 0px 10px;
	white-space: nowrap; /* elementen med display: inline-block i detta wrappar inte .*/
}

.itemContainer:hover{
	background-color:#808080;
}

.frontpageItem{
	display: block;
	background-color:#6E6E6E;
	height:200px;
	width:350px;
	white-space: nowrap;
}

#categoryLink{
	display: block;
	height:200px;
	width:350px;
	position: relative;
	margin-bottom: 13px;
}

.frontpageItem:hover{
	background-color:#808080;
}

.itemPicture{
	display: inline-block;
	height:150px;
	width:176px;
	margin:10px 0px 0px 10px;
}

.itemPicture img{
	height:150px;
	width:176px;
}

.itemName{
	display: inline-block;
	padding: 0px 0px 0px 10px;
	width: 141px;
}
.itemName p{
	margin:0px 0px 0px 0px;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	font-family: 'PT sans', Arial,sans-serif;
	color: black;
}

.itemInfoBox{
	height: 53px;
	width: 100px;
	margin: 0px 0px 0px 15px;
	padding: 7px 0px 0px 0px;
	white-space: normal;
}
.itemInfoBox p{
	font-weight: normal;
	margin:0px;
	font-size:small;
	font-family: 'PT sans', Arial,sans-serif;
}

.itemPrice{
	float:left;
	height:28px;
	width:112px;
}
.itemPrice p{
	color:#dd0000;
	margin:0px 0px 0px 0px;
	text-align:center;
	font-size:25px;
	font-weight:bold;
	font-family: 'PT sans', Arial,sans-serif;
}

.itemButtonContainer{
	width:166px;
	height:35px;
	margin:0px 0px 0px 10px;
	padding:0px 5px 0px 5px;
	border-top:0px;
}

.buyButton{
	float:right;
	height:30px;
	width:50px;
	background-color: #1ECA1E;
	color:white;
	margin:0px 0px 0px 0px;
	text-align:center;
	font-size: 20px;
	font-family: 'PT sans', Arial, sans-serif;
	border: none;
}
.buyButton:hover{
	background-color: #46D246;
}

.buyButton:active {
	background-color: #00B100;
}
 
.buyButton p{
	
}