.produkter{
	padding: 85px 0px 0px 205px;
}

.showProducts{
	display:none;
}
.showProducts:target{
	display:block;
}

.itemContainer{
	float:left;
	background-color:#6E6E6E;
	height:200px;
	width:350px;
	margin:10px 0px 0px 10px;
	white-space: nowrap; /* elementen med display: inline-block i detta wrappar inte .*/
}

.itemContainer:hover{
		background-color:#808080;
}

.itemPicture{
	display: inline-block;
	height:150px;
	width:176px;
	margin:10px 0px 0px 10px;
}

.itemPicture img{
	height:150px;
	width:176px;
}

.itemName{
	display: inline-block;
	height:25px;
	width:120px;
	margin-left:10px;
	padding:5px 5px 0px 5px;
}
.itemName p{
	margin:0px 0px 0px 0px;
	text-align:center;
	font-weight:bold;
	font-size:25px;
}

.itemInfoBox{
	height:53px;
	width:100px;
	margin:0px 0px 0px 0px;
	padding:7px 5px 0px 5px;
	white-space: normal;
}
.itemInfoBox p{
	font-weight: normal;
	margin:0px;
	font-size:small;
}

.itemPrice{
	float:left;
	height:46px;
	width:112px;
	border-radius:0px 0px 0px 20px;
}
.itemPrice p{
	color:red;
	margin:12px 0px 0px 0px; /* To center text vertically */
	text-align:center;
	font-size:25px;
	font-weight:bold;
}

.itemButtonContainer{
	width:166px;
	height:46px;
	margin:0px 0px 0px 10px;
	padding:0px 5px 0px 5px;
	border-top:0px;
	
}

.itemBuyButton{
	margin:7px 0px 5px 0px;
	float:right;
	height:30px;
	width:50px;
	color:white;
	background-color:rgb(100,200,100);
}

.itemBuyButton:hover{
	background-color:rgb(80,180,80);
}

.itemBuyButton :active {
	color:red;
}
 
.itemBuyButton p{
	margin:0px 0px 0px 0px; /* To center text vertically */
	text-align:center;
	font-size:25px;
}