ul { /*listan som de olika länkarna i navigationen ligger i */
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

ul li { 
	display: block;
	position: relative;
	float: left;
}

li ul { /* gör att listan som länkarna i dropdown-menyn blir osynlig. */
	display: none;
}

ul li a { 
	display: block;
	background: #E30505;
	padding: 20px 50px 20px 50px;
	text-decoration: none;
	white-space: nowrap;
	color: black;
}

ul li a:hover { /* lägger en annan bakgrund när man har musen över länkarna ovanför dropdown-menyn. */
	background: #1F1F1F;
}
  
li:hover ul { /* gör så att dropdown-menyn syns när man har musen över länken ovanför. */
	display: block;
	position: absolute;
}

li:hover li {
float: none;
}

li:hover a { /* ändrar bakgrunden på den länken man har muspekaren över. */
	background: #E30505;
}

li:hover li a:hover { /* ändrar bakgrunden på den länken man har muspekaren över i dropdown-menyn. */
	background: #1F1F1F;
}

.topmenu{
	border: 3px solid #E30505;
}

#rightmostli{ /* sätter border-radius längst till höger i nav-menyn */
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
