/* CSS för nav-menyn */

nav ul { /*listan som de olika länkarna i navigationen ligger i */
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-family: 'PT sans', Arial,sans-serif;
	font-size: 91%;
	z-index: 10;
}

nav ul li { 
	display: block;
	position: relative;
	float: left;
	height: 60px;
	background: #6E6E6E;
}

nav li ul { /* gör att listan med länkarna i dropdown-menyn blir osynlig. */
	display: none;
}

nav ul li a { 
	display: block;
	padding: 20px 50px 20px 50px;
	text-decoration: none;
	white-space: nowrap;
	color: black;
}

nav ul li a:hover { /* lägger en annan bakgrund när man har musen över länkarna ovanför dropdown-menyn. */
<<<<<<< HEAD
	background:#808080;
=======
	background: #808080;
>>>>>>> Erik
}
  
nav li:hover ul { /* gör så att dropdown-menyn syns när man har musen över länken ovanför. */
	display: block;
	position: absolute;
}

nav li:hover li {
float: none;
}


nav li:hover a { /* ändrar bakgrunden på dropdown-menyn. */
	background: #6E6E6E;
}

nav li:hover li a:hover { /* ändrar bakgrunden på den länken man har muspekaren över i dropdown-menyn. */
	background: #808080;
}

#drop-nav{
	height:66px;
}
