/* CSS för hjälp-sidan */

#Titel{
	font-family: "PT sans", Arial, sans-serif;
	text-align: center;
}

.container{
	position:relative;
	width: 70%;
	margin: 0px auto 0px auto; /* top right bottom left */
	border: 0px white solid; /* border-width border-color border-style*/
	top: 100px;
	z-index: -1;
	text-align: center;
}

.Sup{
	font-family: Georgia;
	color: #0055DE;
}

.Sup:active{
	color: red;
}