/* CSS för bildspelet */

#container {
	display:inline-block;
	position:relative;
	height: 413px;
	width: 550px;
	margin: 10px auto;
	top: 0px;
}

#slideshowimg{
	position:absolute;
	height:413px;
	width:550px;
	z-index: -1;
}

#leftButton{
	position:absolute;
	height:413px;
	width:100px;
	left:0px;
	top:0px;
}

#rightButton{
	position:absolute;
	height:413px;
	width:100px;
	right:0px;
	top:0px;
}

.left{
	opacity: 0;
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:0px;
}

.right{
	opacity: 0;
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	right:0px;
}

#container:hover .left{
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

#container:hover .right{
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}